{% extends "./layout.html.twig" %}
{% block body %}
    <div class="formulaire">
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascripts %}
{% endblock %}