{% extends "./layout.html.twig" %}
{% block body %}

    <div>

        <h1 id="lastTitle">Les agents</h1>
        {% if listeagents == null %}
            <p>Aucun agent rentré dans la base </p>
        {% else %}
            <div class="tableListeAgents">
                <table>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                    </tr>

                {% for agent in listeagents %}
                    <tr>
                    <td> <a style="color: #000;" class="nav-link" href="{{ path('voirAgent', {'id': agent.id } ) }}">{{ agent.nom }}</a> </td>
                        <td>   {{ agent.prenom }}</td>
                    </tr>
                {% endfor %}

                </table>
            </div>
        {% endif %}

    </div>

{% endblock %}
{% block javascripts %}
{% endblock %}